<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/main-styles.min.css' %}">
</head>
<body>
{% include "side_navigator.html" %}
<div class="profile-inner-container">
        <img src="{% static 'images/profile-pic.png' %}" style="height:150px;width:150px;">
        <div style="margin:20px 0px 25px 0px;">
            <p class="profile-detail-row">Name: {{user_details.first_name | title}} {{user_details.last_name | title}}</p>
            <p class="profile-detail-row">Username: {{user_details.username}}</p>
            <p class="profile-detail-row">Email: {{user_details.email}}</p>
            {% if user.is_authenticated %}
            <div style="margin-bottom:16px"><a href="/user/{{user_details.username}}/created" style="font-size:20px;">Uploaded Memes:
                {{user_details.total_memes}}</a></div>
            {% if not user.is_others_profile %}
            <div style="margin-bottom:16px"><a href="/user/{{user_details.username}}/liked" style="font-size:20px;">Liked:
                {{user_details.total_liked}}</a></div>
            <p class="profile-detail-row">Commented: {{user_details.total_commented}}</p>{% endif %}{% endif %}
        </div>
        {% if not user_details.is_others_profile %}
        <div>
            <a href="/profile/edit" class="btn btn-primary" style="margin-right:20px;">Edit Profile</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
        {% endif %}
        </div>
</body>
</html>